.w-0 {
  width: 0
}

.h-0 {
  height: 0
}

.w-10 {
  width: 10%
}

.h-10 {
  height: 10%
}

.w-20 {
  width: 20%
}

.h-20 {
  height: 20%
}

.w-25 {
  width: 25%
}

.h-25 {
  height: 25%
}

.w-33 {
  width: 33.33%
}

.h-33 {
  height: 33.33%
}

.w-50 {
  width: 50%
}

.h-50 {
  height: 50%
}

.w-75 {
  width: 75%
}

.h-75 {
  height: 75%
}

.w-100 {
  width: 100%
}

.h-100 {
  height: 100%
}

.fs-12 {
  font-size: 12px
}

.fs-13 {
  font-size: 13px
}

.fs-14 {
  font-size: 14px
}

.fs-15 {
  font-size: 15px
}

.fs-16 {
  font-size: 16px
}

.m-0 {
  margin: 0
}

.ml-0 {
  margin-left: 0
}

.mt-0 {
  margin-top: 0
}

.mr-0 {
  margin-right: 0
}

.mb-0 {
  margin-bottom: 0
}

.mx-0 {
  margin-left: 0;
  margin-right: 0
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0
}

.p-0 {
  padding: 0
}

.pl-0 {
  padding-left: 0
}

.pt-0 {
  padding-top: 0
}

.pr-0 {
  padding-right: 0
}

.pb-0 {
  padding-bottom: 0
}

.px-0 {
  padding-left: 0;
  padding-right: 0
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0
}

.m-1 {
  margin: .5rem
}

.ml-1 {
  margin-left: .5rem
}

.mt-1 {
  margin-top: .5rem
}

.mr-1 {
  margin-right: .5rem
}

.mb-1 {
  margin-bottom: .5rem
}

.mx-1 {
  margin-left: .5rem;
  margin-right: .5rem
}

.my-1 {
  margin-top: .5rem;
  margin-bottom: .5rem
}

.p-1 {
  padding: .5rem
}

.pl-1 {
  padding-left: .5rem
}

.pt-1 {
  padding-top: .5rem
}

.pr-1 {
  padding-right: .5rem
}

.pb-1 {
  padding-bottom: .5rem
}

.px-1 {
  padding-left: .5rem;
  padding-right: .5rem
}

.py-1 {
  padding-top: .5rem;
  padding-bottom: .5rem
}

.m-2 {
  margin: 1rem
}

.ml-2 {
  margin-left: 1rem
}

.mt-2 {
  margin-top: 1rem
}

.mr-2 {
  margin-right: 1rem
}

.mb-2 {
  margin-bottom: 1rem
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.p-2 {
  padding: 1rem
}

.pl-2 {
  padding-left: 1rem
}

.pt-2 {
  padding-top: 1rem
}

.pr-2 {
  padding-right: 1rem
}

.pb-2 {
  padding-bottom: 1rem
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.m-3 {
  margin: 1.5rem
}

.ml-3 {
  margin-left: 1.5rem
}

.mt-3 {
  margin-top: 1.5rem
}

.mr-3 {
  margin-right: 1.5rem
}

.mb-3 {
  margin-bottom: 1.5rem
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.p-3 {
  padding: 1.5rem
}

.pl-3 {
  padding-left: 1.5rem
}

.pt-3 {
  padding-top: 1.5rem
}

.pr-3 {
  padding-right: 1.5rem
}

.pb-3 {
  padding-bottom: 1.5rem
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.m-4 {
  margin: 2rem
}

.ml-4 {
  margin-left: 2rem
}

.mt-4 {
  margin-top: 2rem
}

.mr-4 {
  margin-right: 2rem
}

.mb-4 {
  margin-bottom: 2rem
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.p-4 {
  padding: 2rem
}

.pl-4 {
  padding-left: 2rem
}

.pt-4 {
  padding-top: 2rem
}

.pr-4 {
  padding-right: 2rem
}

.pb-4 {
  padding-bottom: 2rem
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.m-5 {
  margin: 2.5rem
}

.ml-5 {
  margin-left: 2.5rem
}

.mt-5 {
  margin-top: 2.5rem
}

.mr-5 {
  margin-right: 2.5rem
}

.mb-5 {
  margin-bottom: 2.5rem
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem
}

.p-5 {
  padding: 2.5rem
}

.pl-5 {
  padding-left: 2.5rem
}

.pt-5 {
  padding-top: 2.5rem
}

.pr-5 {
  padding-right: 2.5rem
}

.pb-5 {
  padding-bottom: 2.5rem
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.h-1x {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.h-2x {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.h-3x {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.wh-100 {
  width: 100%;
  height: 100%
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.overhide {
  overflow: hidden;
}

.tl {
  text-align: left
}

.tr {
  text-align: right
}

.font-bold {
  font-weight: 600
}

.center {
  text-align: center
}

.curp {
  cursor: pointer
}

.disib {
  display: inline-block;
}

.block {
  display: block;
}

.disnone {
  display: none;
}

.br-50 {
  border-radius: 50%;
  overflow: hidden
}

.flex {
  display: flex;
}

.after-line {
  position: relative;
}


.flex-yc {
  display: flex;
  align-items: center;
}

.pa {
  position: absolute
}

.pr {
  position: relative
}

.trf {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s
}




.layout-169:after {
  padding-top: 56.25%;
  content: '';
  display: block
}

.layout-43:after {
  padding-top: 75%;
  content: '';
  display: block
}

.layout-21:after {
  padding-top: 50%;
  content: '';
  display: block
}

.layout-52:after {
  padding-top: 35%;
  content: '';
  display: block
}

.layout-100:after {
  padding-top: 100%;
  content: '';
  display: block
}

.layout-169,
.layout-43,
.layout-52,
.layout-21 {
  box-sizing: border-box;
  position: relative;
  overflow: hidden
}

.layout-card {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show,
.loaded {
  visibility: visible;
  opacity: 1;
}

.muted-text {
  font-size: .9rem;
  color: var(--muted-color);
}

.spinner {
  animation: spin 2s linear infinite;
}

.separator::before,
.separator::after {
  content: "";
  background: var(--muted-color-1);
  display: inline-block;
  width: 20%;
  line-height: 1rem;
  height: 0.5px;
  margin: 0 1em;
}

.line {
  height: 0.5px;
  width: 100%;
  background-color: var(--border-color);
}