* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ZTYfont;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/OPPO-OS.woff2') format('truetype')
}

@font-face {
  font-family: "阿里妈妈灵动体 VF Thin";
  src: url("//at.alicdn.com/wf/webfont/53dCm1PvZud2/L8Nu86tnIM1s.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/53dCm1PvZud2/g4IkeWGsK4GF.woff") format("woff");
  font-display: swap;
}



html {
  font-family: ZTYfont, 'Noto Serif SC', serif;
  scroll-behavior: smooth;
  font-size: 16px;
}


.cus-box-card {
  border: none !important;
}





@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body ::-webkit-scrollbar {
  width: 4px;
  -webkit-border-radius: 4px;
}

body ::-webkit-scrollbar-track {
  background-color: var(--transparent-color);
}

body ::-webkit-scrollbar-thumb {
  background-color: var(--color-3);
}

/* 设置滚动条的样式 */
body ::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-color);
}

body ::-webkit-scrollbar-thumb:active {
  background-color: var(--theme-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}


::-webkit-scrollbar-thumb {
  background: var(--color-3);
  border-radius: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color);
  opacity: 1;
  display: block !important;
}

::-webkit-scrollbar-track {
  background-color: var(--transparent-color);
}