// 全局主题变量配置 误删 ！！！
$white-color: #fff;
$black-color: #23252a;

// 主题色
$theme-color: #5973d1;
$base-primary: #5a7dff;
$base-success: #52c41a;
$base-warning: #faad14;
$base-danger: #e64340;
$base-error: #db2828;
$base-info: #909399;

//圆角
$base-border-radius: 5px;

// 日夜间主题模式
$curTheme: light;

$themes: (
  light: (
    bgColor: #f5f7f9,
    textColor: #4e5358,
    pureColor: $white-color,
    keyColor: #333333,
    mutedColor: #b2b4b8,
    titleColor: #252525,
    themeBg: mix($theme-color, #ffffff, 80%),
    themeBg1: mix($theme-color, #ffffff, 70%),
    shadow: 0 0 10px hsl(0deg 0% 45% / 14%)
  ),
  dark: (
    bgColor: #18181c,
    textColor: #e5eef7,
    pureColor: $black-color,
    keyColor: #f8fafc,
    mutedColor: #717276,
    titleColor: #f2f6fc,
    themeBg: mix($theme-color, #000000, 40%),
    themeBg1: mix($theme-color, #000000, 60%),
    shadow: 0 0 10px hsl(0deg 0% 9% / 45%)
  )
);

$breakpoints: (
  phone: (
    320px,
    480px
  ),
  pad: (
    481px,
    768px
  ),
  laptop: (
    769px,
    1024px
  ),
  desktop: (
    1025px,
    1200px
  ),
  xs: (
    0,
    768px
  ),
  sm: 769px,
  pure: 900px,
  md: 1025px,
  lg: 1201px
);

@function getVal($key) {
  $themeMap: map-get($themes, $curTheme);
  @return map-get($themeMap, $key);
}

@mixin useTheme() {
  @each $key, $value in $themes {
    $curTheme: $key !global;
    // html[data-theme="#{$key}"] & {
    //   @content;
    // }
    html.#{$key} & {
      @content;
    }
  }
}

@mixin respond-to($breakname) {
  $bp: map-get($breakpoints, $breakname);
  @if type-of($bp) == "list" {
    $min: nth($bp, 1);
    $max: nth($bp, 2);
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @media (min-width: $bp) {
      @content;
    }
  }
}

// 模糊背景
@mixin blurBg {
  backdrop-filter: saturate(5) blur(20px);
  @include useTheme {
    background-color: rgba($color: getVal(pureColor), $alpha: 0.7);
  }
  background: rgb(255 255 255 / 70%);
}

@mixin lighten-color($color, $percentage) {
  background-color: lighten($color, $percentage);
}

@mixin darken-color($color, $percentage) {
  background-color: darken($color, $percentage);
}
